// colors
$primary: #e9531d;
$text-color: rgb(32, 32, 32);
$background: #f5f5f5;
$link: rgb(0, 127, 207);

//base colors
$white: white;
$gray-900: #212529;
$gray-300: #b8b8b8;

// box
$box-shadow: rgba(0, 0, 0, 0.15);

//prism
$comment: #8cd971;
