@import './Prism.module.scss';
@import './Basic.module.scss';
@import 'bootstrap/scss/bootstrap.scss';
@import 'react-bootstrap-typeahead/css/Typeahead.scss';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

@import './colors';

html,
body {
  padding: 0;
  margin: 0;
  background-color: $white;
  color: $text-color;
  font-weight: 400;
  letter-spacing: 4px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

b,
strong {
  font-weight: 600;
}

.page {
  display: flex;
  justify-content: center;

  .page-container {
    width: 100%;
    padding: 110px 24px 150px 24px;
    text-align: center;
  }
}

header {
  box-shadow: 0px 2px 3px 0px $box-shadow;
  background-color: $white;
  display: flex;
  min-height: 55px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99999;

  nav {
    display: flex;
    align-items: center;
    gap: 25px;

    a {
      text-transform: uppercase;
      height: 100%;
      display: flex;
      align-items: center;
      border-bottom: 2px solid transparent;
      transition: all 0.3s;

      &:not(.home-link) {
        &:hover,
        &.active {
          border-color: $primary;
          color: inherit;
          opacity: 0.7;
        }
      }
    }

    .home-link img {
      height: 35px;
    }
  }
}

p {
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  line-height: 1.8rem;
}

.remark-highlight {
  + h1,
  + h2,
  + h3,
  + h4 {
    margin-top: 1rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: white;
  width: 100%;
  padding: 50px 0;
  box-shadow: 0px -2px 3px 0px $box-shadow;

  img {
    width: 120px;
  }

  .copyright {
    font-size: 10px;
    margin-top: 12px;
  }
}

.footnotes {
  ol li p {
    margin-bottom: 0;
    font-size: 0.8em;
    font-style: italic;
  }
}

.rbt-menu {
  .category-title {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $gray-300;
    padding: 0 1rem 0.5rem 0;
    display: block;
  }

  .no-pages {
    padding-left: 15px;
  }

  .dropdown-item {
    display: flex;
    align-items: center;

    + .category-title {
      margin-top: 1rem;
    }

    &:hover,
    &.active {
      background-color: lighten(#e8b5a2, 0.5);
      color: $text-color;
    }

    .tags {
      margin-left: 15px;
      display: flex;
      gap: 5px;

      .tag {
        background-color: $primary;
        border-radius: 5px;
        padding: 3px 10px;
        color: $white;
        text-transform: lowercase;
        font-size: 0.8em;
        font-weight: 200;
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .page {
    .page-container {
      max-width: 1050px;
      text-align: left;
    }
  }
}
