@import './colors';

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .title {
    max-width: 500px;
    text-align: left;

    .buttons {
      display: flex;
      column-gap: 5px;
    }
  }

  .picture {
    img {
      width: 500px;
    }
  }
}
