@import './colors';

.title {
  margin-bottom: 2rem;
}

.content {
  padding-bottom: 50px;

  p {
    a {
      text-decoration: underline;
      color: $link;
    }
  }
}

.learnmore {
  color: $link;
}
